DATABASE_URL="postgres://neondb"

BETTER_AUTH_SECRET=

BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

GOOGLE_GENERATIVE_AI_API_KEY=

SENTRY_AUTH_TOKEN=""

POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL=