# Postgres Url
DATABASE_URL=""

# Better Auth configuration
BETTER_AUTH_SECRET=

BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# Ai related keys
GOOGLE_GENERATIVE_AI_API_KEY=

# Sentry configuration
SENTRY_AUTH_TOKEN=""

# Polar configuration
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL=