# Postgres Url
DATABASE_URL=""

# Better Auth configuration
BETTER_AUTH_SECRET=

BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app, On production change this with actual url

# Ai related keys
GOOGLE_GENERATIVE_AI_API_KEY=

# Sentry configuration
SENTRY_AUTH_TOKEN=""

# Polar configuration
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL=http://localhost:3000/workflows # On production change this with actual url

# Inngest running in dev mode
INNGEST_DEV=1

# Other
NEXT_PUBLIC_APP_URL="http://localhost:3000" # On production change this with actual url
NGROK_URL="https://deviate-sly-unease.ngrok-free.dev" # No need on production